<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registrar App Casas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo institucional</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Constraseña</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
  </ion-item>

  <ion-button
    class="ion-padding"
    color="primary"
    expand="full"
    (click)="register(user)"
  >Registrarse</ion-button>


</ion-content>
